chroma-hnswlib
chromadb
huggingface-hub
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
openai
pypdf
streamlit-chromadb-connection
tokenizers
transformers
pip install --pre pydeck==0.8.1b0
pip install --pre streamlit-chromadb-connection